@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Urbanist";
  color: #d7d7d7;
  margin: 0;
}

#visitekaartje {
  position: relative;
  min-height: 200px;
  background-image: linear-gradient(
    to bottom,
    hsl(256, 100%, 9%),
    hsl(0, 0%, 27%)
  );
  z-index: 1;
  border-radius: 60px;
  overflow: hidden;
}

#visitekaartje::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    hsl(0, 0%, 22%),
    hsl(256, 100%, 9%)
  );
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}
#visitekaartje:hover::before {
  opacity: 1;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  transition: 0.25s;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 0;
  color: rgb(234, 234, 234);
  text-align: center;
  border-radius: 12px;
  padding-top: 10px;
  font-weight: 300;
  font-size: 36px;
}

#subtitle {
  font-weight: 800;
}

h3 {
  text-align: center;
  color: rgb(234, 234, 234);
  font-weight: 300;
  font-size: 16px;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  border-radius: 100px;
}

.image-container img {
  width: 10%;
  height: auto;
  margin: 0px 10px;
  margin-bottom: 50px;
}

#profielfoto {
  width: 80%;
  height: 200px;
  border-radius: 36px;
  margin-top: 35px;
  object-fit: cover;
}

#contactbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#email-btn {
  font-family: "Urbanist";
  font-weight: 300;
  color: rgb(220, 220, 220);
  width: 100%;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background: none;
  border: 1px solid white;
  border-radius: 100px;
}

#email-btn:hover {
  font-family: Urbanist;
  font-weight: 300;
  color: rgb(46, 46, 46);
  width: 100%;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background: none;
  border: 1px solid white;
  background-color: rgb(226, 226, 226);
  border-radius: 100px;
}

#website-btn {
  font-family: Urbanist;
  font-weight: 300;
  color: rgb(46, 46, 46);
  width: 100%;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(226, 226, 226);
  border: 1px solid white;
  border-radius: 100px;
}

#website-btn:hover {
  font-family: Urbanist;
  font-weight: 300;
  color: rgb(266, 266, 266);
  width: 100%;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(76, 53, 160);
  border-radius: 100px;
  border: 0px;
}
